html{
    font-size: 100%;
}
body{
    font-size: 1.3rem;
}
.info{
    display: flex;
    justify-content:center;
    align-items:center;
}

#info2 > img{
    width: 20vw;
    position: relative;
    height: 20vw;
}

body{
    background-color: dimgray;
}

@media (min-width:250px) and (max-width:1000px) {
    html{
        font-size: 75%;
    }
}

